* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to bottom, #f4f4f4 90%, #555) ;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-container {
    width: 50%;
    box-shadow: 0 3px 5px rgba(68, 67, 67, 0.589);
}

.title {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 5px solid #48e;
    transform: translateY(-60px);
}

.profile {
    width: 80%;
    height: calc(100vw * 40 / 150);
    margin-bottom: 10px;
    margin-top: 10px;
    object-fit: cover;
}

.subtitle {
    font-size: 25px;
    font-weight: bold;
}

.role {
    font-weight: bold;
    color: #48e;
    font-size: 18px;
}

span {
    display: block;
    margin: 15px 0;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    display: block;
    border-style: none;
    border: 3px solid #48e;
    border-radius: 10px;
    padding: 5px;
    background: rgb(166, 193, 233);
    color: #000;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px; 
    margin-bottom: 10px;
}

.btn:hover {
    background: #48e;
}

.btn:active {
    transform: translateY(2px);
}

.arrow {
    font-size: 20px;
    color: rgb(40, 120, 240);
    margin-top: 10px;
    cursor: pointer;
}

.left-arrow:active {
    color: #f00;
}

.right-arrow:active { 
    color: #f00;
}