* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
    transition-property: background;
    transition-duration: 1s;
}

.nav-bar {
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.698);
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

li {
    font-size: 25px;
    margin-top: 10px;
}

li {
    color: #000;
}

li:hover {
    color: rgb(22, 172, 241);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50px);
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: rgb(20, 20, 20);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.button {
    border-style: none;
    background: transparent;
    color: rgb(20, 20, 20);
    border: 2px solid rgb(20, 20, 20);
    border-radius: 10%;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px;
    transition-property: background;
    transition-duration: .5s;
}

.button:hover {
    background: rgb(20, 20, 20);
    color: #fff;
}

.button:active {
    transform: translateY(2px);
}

.random-color {
    color:rgb(22, 172, 241);
}