* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: url(https://fondosmil.com/fondo/17016.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: column;
    height: 50%;
}

.title {
    background: transparent;
    color: #fff;
    font-size: calc(3.8vw + 3vh);
    text-shadow: 0 0 10px #000,
                0 0 10px #000,
                0 0 10px #000,
                0 0 20px #000,
                0 0 20px #000;  
}

.countdown-container {
    display: flex;
    justify-content: space-around;
}

.days, .minutes, .seconds, .hours {
    letter-spacing: 1px;
    display: block;
    text-align: center;
    list-style: none;
    font-size: calc(2vw + 2.3vh);
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000,
                0 0 10px #000,
                0 0 10px #000;
}

.text-days, .text-minutes, .text-seconds, .text-hours {
    align-items: center;
    list-style: none;
    margin-top: 8px;
    font-size: 2.3vw;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000,
                0 0 10px #000;
}